:root {
    --bg: #f1f1f1;

    --txt: rgb(57, 58, 57);
    --color-primary: #4ce0d7;
    --txt-acent: rgb(245, 243, 243);

    --br: .2rem;

    --p-btn: .5rem 1rem;
}

html {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    color: var(--txt);
    color-scheme: dark light;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav {
    height: 8rem;
    display: flex;
    align-items: center;
    background: var(--bg);

    #logo {
        position: relative;
        height: 3rem;
        min-width: 35%;
        margin-inline-start: 1rem;
        background-image: url("../public/svg/logo.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%;

    }

    nav {
        width: 65%;
    }

    label {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-width: 50vw;
        justify-content: space-evenly;
        margin-inline-end: 1rem;

        #menu {
            height: 3rem;
            min-width: 20rem;
            grid-column-start: 2;
            grid-column-end: 4;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 4%;
            border-radius: var(--br);

            li {
                font-size: 1.25rem;
                font-weight: 500;

                padding: var(--p-btn);
                border-radius: 50rem;
                border: 2px solid transparent;

                transition: all .2s ease;

                &:hover {
                    background: var(--color-primary);
                    border: 2px solid var(--color-primary);
                    transform: translate(1px, 1px);
                }

                a {
                    text-decoration: none;
                    color: var(--txt);
                }
            }

            #m-btn {
                background: var(--color-primary);
                border-radius: 50rem;
                padding: var(--p-btn);
                border: 2px solid transparent;

                &:hover {
                    background: var(--bg);
                    border: 2px solid var(--color-primary);
                }
            }
        }
    }

    #amburguesa {
        display: none;
        border: none;
        background: none;
        position: absolute;
        right: 1rem;
        top: 3.1rem;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-family: inherit;
    }

    .menu__icon {
        width: 2rem;
        height: 2rem;
        padding: .25rem;
        background-color: var(--bg);
        backdrop-filter: saturate(180%) blur(20px);
        border: solid 1px var(--bg);
        position: relative;
    }

    .menu__icon span {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: calc(.25rem - 1px);
        left: calc(.25rem - 1px);
        transition: transform .1806s cubic-bezier(.04, .04, .12, .96);
    }

    .menu__icon span:before {
        content: '';
        width: 1.5rem;
        height: .125rem;
        background-color: var(--txt);
        position: absolute;
        left: 0;
        transition: transform .1596s cubic-bezier(.52, .16, .52, .84) .1008s;
    }

    .menu__icon span:nth-child(1)::before {
        top: .625rem;
        transform: translateY(-3px);
    }

    .menu__icon span:nth-child(2)::before {
        bottom: .625rem;
        transform: translateY(3px);
    }

    #menu__mobile:checked~.menu__icon :nth-child(1),
    #menu__mobile:checked~.menu__icon :nth-child(2) {
        transition: transform .3192s cubic-bezier(.04, .04, .12, .96) .1008s;
    }

    #menu__mobile:checked~.menu__icon :nth-child(1)::before,
    #menu__mobile:checked~.menu__icon :nth-child(2)::before {
        transform: none;
        transition: transform .1806s cubic-bezier(.04, .04, .12, .96);
    }

    #menu__mobile:checked~.menu__icon :nth-child(1) {
        transform: rotate(45deg) translateY(1px);
    }

    #menu__mobile:checked~.menu__icon :nth-child(2) {
        transform: rotate(-45deg) translateY(-1px);
    }

    #menu__mobile {
        display: none;
    }

    @media (min-width:0) and (max-width:610px) {
        nav {
            display: flex;
            justify-content: end;
            margin-inline-end: 1rem;

            #menu__mobile:not(:checked)~#menu,
            #menu {
                display: none;
            }

            #menu__mobile~#menu {
                display: flex;
                position: absolute;
                width: 100vw;
                top: 5rem;
                left: -.3rem;
                justify-content: center;
            }
        }

        #amburguesa {
            display: block;
        }

        #logo {
            min-width: 60vw;
        }


    }

    @media (min-width:0px) and (max-width:800px) {

        li,
        #m-btn {
            padding: 1.8px 6px !important;
        }
    }

}

/* parte del main  */




#bf {
    background: center/cover no-repeat url("../public/imgs/bf.webp"), radial-gradient(rgba(221, 137, 183, 0.237), rgba(109, 66, 117, 0.301));
    padding: 3rem;

}

#bv {
    background: center/cover no-repeat url("../public/imgs/bv.webp"), radial-gradient(rgba(221, 137, 183, 0.237), rgba(109, 66, 117, 0.301));
}

#bg {
    background: center/cover no-repeat url("../public/imgs/bg.webp"), radial-gradient(rgba(221, 137, 183, 0.237), rgba(109, 66, 117, 0.301));
    padding: 3rem 8rem 4rem 3rem;
}

#bg,
#bf,
#bv {
    position: relative;
    height: 35rem;
    border-radius: 2rem;

    margin: 0 1rem;
    box-shadow: 0 0px 2.5px#000;

    #intro {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        color: var(--bg);

        h2 {
            font-size: 2.3rem;
            font-weight: 400;
            font-family: 'Lucida Sans Unicode', 'Segoe UI', sans-serif;
            margin: .5rem 0;

            span {
                font-family: 'Segoe UI';
                font-weight: 900;
                background: linear-gradient(to right, #4ce0d7 .2%, #b743d4);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }

        p {
            font-size: 1.5rem;
            font-weight: 200;
        }


    }

    #intro-form {
        height: 100%;

        /* display: flex;
        width: 100%; */
        #repar {
            height: 100%;
            display: flex;
            width: 100%;
        }

        .c-form {
            width: 50%;

            &:nth-child(1) {
                align-self: end;
                margin-bottom: 2rem;
                color: var(--bg);

                h2 {
                    font: 200 3rem "Segoe UI";
                }

                span {
                    font: 700 3rem "Segoe UI";
                    background: linear-gradient(to right, var(--color-primary) 10%,
                            rgb(0, 200, 255));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                p {
                    font: 200 1.5rem "Segoe UI";
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 1rem;
                background-image: radial-gradient(rgba(227, 227, 227, 0.807), var(--bg));
                border-radius: 1rem;
                padding: 1rem;
                margin-bottom: 2rem;
                box-shadow: 0 0 4px var(--txt);

                .text__label {
                    display: flex;
                    height: auto;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: .5rem;
                    font: bolder 1rem "Segoe UI";
                    color: var(--txt);



                    .text__inputs {
                        min-width: 13rem;
                        max-width: 13rem;
                        min-height: 2.3rem;
                        text-align: center;
                    }

                    #agrupacion {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                }


            }

            @media (min-width:0) and (max-width:800px) {
                &:nth-child(1) {

                    h2,
                    span {
                        font-size: 2.5 rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }

                &:nth-child(2) {

                    .text__label {
                        text-align: center;
                        flex-direction: column !important;
                        font-size: .83rem;

                        .text__inputs {
                            max-width: 8rem;
                            min-width: 8rem;
                        }

                        &:nth-child(5) {
                            flex-direction: row !important;
                        }
                    }
                }

                @media (min-width:0) and (max-width:610px) {
                    &:nth-child(1) {

                        h2,
                        span {
                            font-size: 1.8rem;
                        }
                    }

                }

            }
        }
    }

    #intro #move-page,
    #intro-form #move-page {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        gap: .9rem;
        margin: .8rem;

        .sig__btn {
            background-color: var(--color-primary);
            height: 3rem;
            min-width: 3rem;
            border-radius: 50rem;
            position: relative;
            transition: .2s ease;

            &:hover {
                transform: translate(1px, 1px);
            }

            &:hover>.sig__flecha {
                background-color: var(--bg);

            }

            .sig__flecha {
                position: absolute;
                height: 1.1rem;
                width: .2rem;
                background-color: #000;
                border-radius: 50rem;

                &:nth-child(1) {
                    top: .59rem;
                    left: 1.65rem;
                    transform: rotate(-50deg);
                }

                &:nth-child(2) {
                    top: 1.27rem;
                    left: 1.65rem;
                    transform: rotate(50deg);
                }

            }

            &:nth-child(1) {
                scale: -1;

                &:hover {
                    transform: translate(-1px, -1px);
                }
            }
        }
    }


}

@media (min-width:0px)and (max-width:610px) {
    #bg {
        padding: 1.5rem 2rem;

        #intro h2 {
            margin: .25rem 0;
        }

        #intro {
            justify-content: center;
        }



    }
}


/* parte del footer */


footer {
    height: 16.5rem;

    #autor {
        height: 100%;
        width: 100%;
        display: grid;
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 1fr;

        #desc {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            text-align: center;

            #icon {
                background: center/100% no-repeat url("../public/imgs/man.png");
                height: 7.5rem;
                width: 7.5rem;
                border-radius: 50rem;
                border: 1px solid #000;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 3;
            }

            strong {
                text-transform: capitalize;
                align-self: end;
                font: bold 1.5rem 'Segoe UI';
            }

            p {

                color: var(--txt);
                font: 200 'Segoe UI';
            }
        }

        #redes {
            display: flex;
            flex-direction: column;
            gap: .9rem;
            justify-content: center;
            align-items: center;

            strong {
                text-transform: capitalize;
                font: bold 1.5rem "Segoe UI";
            }

            #menu-media {
                display: flex;
                gap: 1rem;

                .media__btn {
                    display: block;

                    &:nth-child(1) {
                        height: 3rem;
                        width: 3rem;
                        background: center/cover no-repeat url("../public/svg/linkedin.svg");
                    }

                    &:nth-child(2) {
                        height: 3rem;
                        width: 3rem;
                        background: center/cover no-repeat url("../public/svg/facebook.svg");
                    }

                    &:nth-child(3) {
                        height: 3rem;
                        width: 3rem;
                        background: center/cover no-repeat url("../public/svg/whatsapp.svg");
                    }

                    &:nth-child(4) {
                        height: 3rem;
                        width: 3rem;
                        background: center/cover no-repeat url("../public/svg/github.svg");
                    }
                }
            }
        }

        #creacion {
            grid-area: 2/1;
            grid-column: span 2;
        }

        #creacion {
            grid-area: 3;
            grid-column: span 2;
            text-align: center;
            margin: 2rem;

            small {
                font: bolder 1rem monospace;
                padding-bottom: 1rem;
            }
        }
    }

    @media (min-width:0) and (max-width:610px) {
        #autor {
            margin-top: 3rem;
            gap: 3rem 0;
        }

        #desc {
            grid-area: 1;
            grid-column: span 2;
        }

        #redes {
            grid-area: 2;
            grid-column: span 2;
        }

        #creacion small {
            padding-bottom: 1.5rem;
        }
    }
}