:root {
    --bg: #f1f1f1;

    --txt: rgb(57, 58, 57);
    --color-primary: #4ce0d7;
    --txt-acent: rgb(245, 243, 243);

    --br: .2rem;

    --p-btn: .5rem 1rem;
}

html {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--bg);
    color: var(--txt);
    color-scheme: dark light;
}

* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav {
    width: 100vw;
    height: 8rem;
    display: flex;
    align-items: center;
    background: var(--bg);

    #logo {
        position: relative;
        height: 3rem;
        min-width: 35%;
        margin-inline-start: 1rem;
        background-image: url("../public/svg/logo.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50%;

    }

    nav {
        width: 65%;
    }

    label {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        min-width: 50vw;
        justify-content: space-evenly;
        margin-inline-end: 1rem;

        #menu {
            height: 3rem;
            min-width: 20rem;
            grid-column-start: 2;
            grid-column-end: 4;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 4%;
            border-radius: var(--br);

            a {
                font-size: 1.25rem;
                font-weight: 500;
                text-decoration: none;
                color: var(--txt);
                padding: var(--p-btn);
                border-radius: 50rem;
                border: 2px solid transparent;

                transition: all .2s ease;

                &:hover {
                    background: var(--color-primary);
                    border: 2px solid var(--color-primary);
                }
            }

            #m-btn a {
                background: var(--color-primary);
                border-radius: 50rem;
                padding: var(--p-btn);
                border: 2px solid transparent;

                &:hover {
                    background: var(--bg);
                    border: 2px solid var(--color-primary);
                }
            }
        }
    }

    #amburguesa {
        display: none;
        border: none;
        background: none;
        position: absolute;
        right: 1rem;
        top: 3.1rem;
        padding: 0;
        margin: 0;
        cursor: pointer;
        font-family: inherit;
    }

    .menu__icon {
        width: 2rem;
        height: 2rem;
        padding: .25rem;
        background-color: var(--bg);
        backdrop-filter: saturate(180%) blur(20px);
        border: solid 1px var(--bg);
        position: relative;
    }

    .menu__icon span {
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: calc(.25rem - 1px);
        left: calc(.25rem - 1px);
        transition: transform .1806s cubic-bezier(.04, .04, .12, .96);
    }

    .menu__icon span:before {
        content: '';
        width: 1.5rem;
        height: .125rem;
        background-color: var(--txt);
        position: absolute;
        left: 0;
        transition: transform .1596s cubic-bezier(.52, .16, .52, .84) .1008s;
    }

    .menu__icon span:nth-child(1)::before {
        top: .625rem;
        transform: translateY(-3px);
    }

    .menu__icon span:nth-child(2)::before {
        bottom: .625rem;
        transform: translateY(3px);
    }

    #menu__mobile:checked~.menu__icon :nth-child(1),
    #menu__mobile:checked~.menu__icon :nth-child(2) {
        transition: transform .3192s cubic-bezier(.04, .04, .12, .96) .1008s;
    }

    #menu__mobile:checked~.menu__icon :nth-child(1)::before,
    #menu__mobile:checked~.menu__icon :nth-child(2)::before {
        transform: none;
        transition: transform .1806s cubic-bezier(.04, .04, .12, .96);
    }

    #menu__mobile:checked~.menu__icon :nth-child(1) {
        transform: rotate(45deg) translateY(1px);
    }

    #menu__mobile:checked~.menu__icon :nth-child(2) {
        transform: rotate(-45deg) translateY(-1px);
    }

    #menu__mobile {
        display: none;
    }

    @media (min-width:0) and (max-width:610px) {
        nav {
            display: flex;
            justify-content: end;
            margin-inline-end: 1rem;

            #menu__mobile:not(:checked)~#menu,
            #menu {
                display: none;
            }

            #menu__mobile~#menu {
                display: flex;
                position: absolute;
                width: 100vw;
                top: 5rem;
                left: -.3rem;
                justify-content: center;
            }
        }

        #amburguesa {
            display: block;
        }

        #logo {
            min-width: 60vw;
        }

        a,
        #m-btn a {
            padding: 1.8px 6px !important;
        }
    }

    @media (min-width:0px) and (max-width:800px) {
        nav #menu__mobile~#menu {
            justify-content: none;
        }

        a,
        #m-btn a {
            padding: 1.8px 6px !important;
        }
    }

}

/* parte del main  */

#bg {
    position: relative;
    height: 35rem;
    background-image: radial-gradient(rgba(177, 137, 159, 0.233), rgba(197, 40, 228, 0.301)), url("../public/imgs/bg.webp");
    background-image: url("../public/imgs/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
    padding: 3rem 8rem 4rem 3rem;
    margin: 0 1rem;
    box-shadow: 0 0px 2.5px#000;

    #intro {


        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        color: var(--bg);

        h2 {
            font-size: 2.3rem;
            font-weight: 400;
            font-family: 'Lucida Sans Unicode', sans-serif;
            margin: .5rem 0;

            span {
                font-family: sans-serif;
                font-weight: 900;
                background: linear-gradient(to right, #4ce0d7 .2%, #b743d4);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            font-size: 1.5rem;
            font-weight: 200;
        }

        #move-page {
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            gap: .9rem;
            margin: .8rem;

            .sig__btn {
                background-color: var(--color-primary);
                height: 3rem;
                min-width: 3rem;
                border-radius: 50rem;
                position: relative;

                .sig__flecha {
                    position: absolute;
                    height: 1.1rem;
                    width: .2rem;
                    background-color: #000;
                    border-radius: 50rem;

                    &:nth-child(1) {
                        top: .59rem;
                        left: 1.65rem;
                        transform: rotate(-50deg);
                    }

                    &:nth-child(2) {
                        top: 1.27rem;
                        left: 1.65rem;
                        transform: rotate(50deg);
                    }

                }

                &:nth-child(1) {
                    scale: -1;
                }
            }
        }
    }
}

@media (min-width:0px)and (max-width:610px) {
    #bg {
        padding: 0rem;

        #intro h2 {
            margin: .25rem 0;
        }

        #intro {
            justify-content: center;
        }
    }
}